# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#Point Cloud Data
*.pcd

webSocket_test/build/

webSocket_test/build_cmake/

test/build/

webSocket_test/cpr

webSocket_test/.vscode/

visualization_test/build/

visualization_examples/build/

visual_test/build/

visualization_examples/.vscode/

visual_test/.vscode/

normal estimation/.vscode/

normal estimation/build/

socket_test/build/
